/* Fondo con gradiente y animación */
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Contenedor central con sombras y bordes redondeados */
.container {
    text-align: center;
    /**background: rgba(255, 255, 255, 0.9); */
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Estilo del texto */
.error h1 {
    font-size: 6rem;
    margin: 0;
    color: #333;
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.error p {
    font-size: 1.5rem;
    margin: 20px 0;
    color: #555;
}

/* Botón con animación */
.btn {
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    font-size: 1rem;
    color: white;
    background-color: #e73c7e;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #d7316c;
    transform: scale(1.05);
}